@page "/"
@using MySqlManager.Services
@using MySqlManager.Dtos
@inject MySqlManagerService MySqlManagerService
@attribute [StreamRendering]

@if (_serverInformation != null)
{
    <div class="card">
        <div class="card-header">
            <i class="nf nf-cod-server"></i> Server Information
        </div>
        <div class="card-body">
            Server Type: @_serverInformation.ServerType<br/>
            Version: @_serverInformation.Version <br/>
            Protocol Version: @_serverInformation.ProtocolVersion <br/>
            OS: @_serverInformation.VersionCompileOs
        </div>
    </div>
}
else
{
    <text>Loading...</text>
}


@code {

    private ServerInformationDto? _serverInformation;

    protected override async Task OnInitializedAsync()
    {
        _serverInformation = null;
        await LoadServerVersion();
    }

    private async Task LoadServerVersion()
    {
        Console.WriteLine("Loading server version...");
        _serverInformation = await MySqlManagerService.GetServerVersion();
        //await InvokeAsync(StateHasChanged);
        Console.WriteLine("Loaded. Result: " + _serverInformation);
    }

}