@page "/database/{Database}/new/table"
@using Microsoft.AspNetCore.Http.Features
@using MySqlManager.Dtos
@using MySqlManager.Services
@inject MySqlManagerService MySqlManagerService
@rendermode @(new InteractiveServerRenderMode(prerender: true))

<div class="mb-3">
    <label for="tableName" class="form-label">Table Name</label>
    <input type="text" class="form-control" id="tableName"/>
</div>
<div class="mb-3">
    <table class="table table-sm table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Length</th>
            <th>Default</th>
            <th>Collation</th>
            <th>Attributes</th>
            <th>Nullable</th>
            <th>Index</th>
            <th>A_I</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var t in _tableLines)
        {
            <tr>
                <td><input type="text" class="form-control newtable-control" @bind="t.Name" /></td>
                <td>
                    <select class="btselect" data-live-search="true" @bind="t.Type">
                        <option></option>
                        <option>INT</option>
                        <option>VARCHAR</option>
                        <option>TEXT</option>
                        <option>DATE</option>
                        <optgroup label="Numeric">
                            <option>TINYINT</option>
                            <option>SMALLINT</option>
                            <option>MEDIUMINT</option>
                        </optgroup>
                    </select>
                </td>
                <td><input type="text" class="form-control newtable-control" @bind="t.Length" /></td>
                <td>
                    <select class="btselect">
                        <option>None</option>
                    </select>
                </td>
                <td></td>
                <td></td>
                <td><input type="checkbox" class="form-check-input" @bind="t.Nullable" /></td>
                <td></td>
                <td><input type="checkbox" class="form-check-input" @bind="t.AutoIncrement" /></td>
                <td></td>
            </tr>
        }

        </tbody>
    </table>
</div>
<div class="mb-3">
    <button class="btn btn-primary" @onclick="ConfirmButton">Confirm</button>
</div>

<script>
    $(".btselect").selectpicker();
</script>

@code {

    [Parameter]
    public string? Database { get; set; }

    private int _amountCols = 3;
    private List<TableLine> _tableLines = new();
    
    protected override void OnInitialized()
    {
        _tableLines = new List<TableLine>();
        for (var i = 0; i < _amountCols; i++)
        {
            _tableLines.Add(new TableLine());
        }
    }

    public void ConfirmButton()
    {
        foreach (var t in _tableLines)
        {
            Console.WriteLine($"Name: {t.Name} Type: {t.Type}");
        }
    }

    public class TableLine
    {
        public string? Name { get; set; }
        public string? Type { get; set; }
        public string? Length { get; set; }
        public bool Nullable { get; set; }
        public bool AutoIncrement { get; set; }
    }

}