@page "/database/{Database}/table/{Table}/insert"
@using System.Runtime.InteropServices
@using MySqlManager.Components.Layout
@using MySqlManager.Services
@using MySqlManager.Dtos
@attribute [StreamRendering]

<h1>Insert</h1>
Parameter: @Database / @Table

@code {

    [Parameter] public string? Database { get; set; }

    [Parameter] public string? Table { get; set; }
    
    [CascadingParameter] public MainLayout? Layout { get; set; }
    
    protected override void OnInitialized()
    {
        Layout?.SetTopRowForTableView(Database, Table, "insert");
    }

}