@page "/database/{Database}/{Table}"
@using System.Runtime.InteropServices
@using MySqlManager.Components.Layout
@using MySqlManager.Services
@using MySqlManager.Dtos
@inject MySqlManagerService MySqlManagerService
@attribute [StreamRendering]

<h1>Database Overview</h1>
Parameter: @Database / @Table

@if (_tableData == null)
{
    <div>Loading...</div>
}
else
{
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-striped">
            <thead>
                <tr>
                    @foreach (var head in _tableData.ColumnInformation)
                    {
                        <th>@head.Field</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var row in _tableData.Content)
                {
                    var i = 0;
                    <tr>
                        @foreach (var column in row)
                        {
                            if (_tableData.ColumnInformation[i].Key == "PRI")
                            {
                                <th>@column</th>
                            }
                            else
                            {
                                <td>@column</td>
                            }
                            i++;
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private TableData? _tableData;

    [Parameter] public string? Database { get; set; }

    [Parameter] public string? Table { get; set; }
    
    [CascadingParameter] public MainLayout? Layout { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Layout?.SetTopRowForTableView(Database, Table);
        _tableData = null;
        Console.WriteLine("Getting table contents...");
        _tableData = await MySqlManagerService.GetTableContents(Database, Table, 0, 30);
    }

}