@page "/database/{Database}/table/{Table}/import"
@using MySqlManager.Services
@implements IDisposable
@inject TopRowService TopRowService
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [StreamRendering]

<h1>Import</h1>
Parameter: @Database / @Table

<div>
    <input type="file" @bind="ImportFile" />
    <button @onclick="ImportButtonPressed">Import</button>
</div>

@code {

[Parameter] public string? Database { get; set; }

[Parameter] public string? Table { get; set; }

protected override void OnInitialized()
{
    TopRowService.SetTopRowForTableView(Database, Table, "import");
}

public void Dispose()
{
    TopRowService.ClearTopRow();
}

public object ImportFile
{
    get;
    set;
}

private void ImportButtonPressed()
{
}

}
